# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
venv_new/
.venv/
env/

# Logs
logs/
*.log

# Node / React
node_modules/
dist/
dist-ssr/
build/

# Project folders
api_results/
results/
uploads/

# VS Code
.vscode/
.idea/

# System files
.DS_Store

# Environment
.env